body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  font-weight: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.list-img {
  position: relative;
}
.list-img .prev_arrow {
  color: black;
  z-index: 100;
  position: absolute;
  bottom: 150px;
  left: -10%;
  font-size: 34px;
  font-style: italic;
  cursor: pointer;
  opacity: 0;
}
.list-img .next_arrow {
  color: black;
  z-index: 100;
  position: absolute;
  bottom: 150px;
  right: -10%;
  font-size: 34px;
  font-style: italic;
  cursor: pointer;
  opacity: 0;
}
header {
  background-repeat: no-repeat;
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 1000px;
}
header .header-nav {
  display: flex;
  justify-content: space-between;
}
header .header-nav .logo {
  padding-left: 100px;
  padding-top: 30px;
}
header .header-nav nav {
  transform: translate(-83px, 17px);
}
header .header-nav nav ul {
  display: flex;
}
header .header-nav nav ul .iconify {
  color: white;
  width: 30px;
  height: 30px;
}
header .header-nav nav ul li {
  padding: 21px;
}
header .header-banner .header-txt {
  padding-left: 15px;
  width: 80%;
  transform: translate(0, 111%);
}
header .header-banner .header-txt-1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5em;
  font-size: 24px;
  line-height: 32.23px;
  color: #696969;
  transform: translate(4px, -107%);
}
header .header-banner .header-txt-2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
header .header-banner .header-txt .disc-btn {
  transform: translate(0, 280%);
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
}
header .header-banner .header-txt .disc-btn a {
  color: #fff;
  padding: 14px 29px;
  background-color: black;
}
header .header-banner .social-link {
  transform: translate(385px, 331px);
  text-align: right;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 40px;
}
header .header-banner .social-link a {
  color: white;
}
header .header-banner .social-link a:hover::after {
  background-color: #000;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 67%;
  transform: translate(137px, -18px);
}
.header-bottom {
  border-bottom: 1px solid red;
}
.header-bottom .col-4 {
  height: 80px;
  width: 33.3333%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
  margin: 0;
  border-right: 1px solid red;
}
.header-bottom .col-4:last-child {
  border-right: none;
}
.header-bottom .col-4 .ct {
  text-align: center;
}
.header-bottom .col-4 .ct .txt-3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 28px;
  text-transform: uppercase;
}
.header-bottom .col-4 .ct .txt-4 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ababab;
}
.header-bottom .col-4 .t1 {
  padding-top: 18px;
  padding-left: 1px;
  height: 80px;
  border-left: 1px solid red;
}
.header-bottom .col-4 .t1 .txt-4 {
  padding-top: 4px;
}
.header-bottom .col-4 .t2 {
  padding-top: 19px;
  padding-left: 5px;
}
.header-bottom .col-4 .t2 .txt-4 {
  padding-top: 3px;
}
.header-bottom .col-4 .t3 {
  height: 80px;
  border-right: 1px solid red;
}
.header-bottom .col-4 .t3 .txt-3 {
  transform: translate(-13px, 19px);
}
.header-bottom .col-4 .t3 .txt-4 {
  transform: translate(-13px, 22px);
}
.slogan {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 48px;
  padding: 114px 0;
  margin-bottom: -8px;
}
.banner {
  transform: translateX(-10px);
  background-color: red;
}
.banner .hidden-banner {
  display: none;
}
.banner .hidden-banner-2 {
  display: none;
}
.banner-1 {
  position: relative;
}
.banner .txt-banner-1 {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translate(3px, -120px);
}
.banner .txt-banner-1 .txt-8 {
  font-family: "Fira Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 12px;
}
.banner .txt-banner-1 .txt-9 {
  font-family: "Cormorant Garamond", serif;
  color: #d6ba8d;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 36px;
}
.banner-2 {
  position: relative;
}
.banner-3 {
  position: relative;
}
.banner-3 .box-txt-3 {
  position: absolute;
  bottom: 109px;
  left: 65px;
}
.banner-3 .box-txt-3 .btxt-5 {
  font-family: "Fira Sans", sans-serif;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.banner-3 .box-txt-3 .btxt-6 {
  font-family: "Cormorant Garamond", serif;
  color: #d6ba8d;
  font-size: 72px;
  font-weight: bold;
  word-spacing: 16px;
  transform: translate(0, 22px);
  line-height: 47.21px;
}
.banner .box-banner .box {
  width: 280px;
  height: 340px;
  position: absolute;
  top: 86px;
  right: 24px;
  box-sizing: border-box;
  border: 5px solid   red;
}
.banner .box-banner .box-txt {
  position: absolute;
  top: 108px;
  right: 9px;
}
.banner .box-banner .box-txt .btxt-1 {
  font-family: "Fira Sans", sans-serif;
  color: #333333;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 64px;
  font-weight: 400;
}
.banner .box-banner .box-txt .btxt-2 {
  transform: translate(-18px, 28px);
  font-family: "Cormorant Garamond", serif;
  color: #333333;
  font-size: 100px;
  font-weight: bold;
  line-height: 36px;
}
.banner .box-banner .box-txt .btxt-3 {
  transform: translate(-49px, 65px);
  font-family: "Cormorant Garamond", serif;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  line-height: 64px;
}
.banner .box-banner .box-txt .btxt-4 {
  transform: translate(12px, 89px);
  font-family: "Fira Sans", sans-serif;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 64px;
  font-weight: bold;
  text-transform: uppercase;
}
.banner .box-banner .box::before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 330px solid red;
  border-right: 269px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-5 {
  position: relative;
}
.banner-6 {
  position: relative;
}
.banner-6 .box-txt-6 {
  position: absolute;
  top: 138px;
  left: 63px;
}
.banner-6 .box-txt-6 .btxt-8 {
  font-family: "Cormorant Garamond", serif;
  color: #333;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}
.banner-6 .box-txt-6 .btxt-9 {
  transform: translate(4px, 21px);
  font-family: "Fira Sans", sans-serif;
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 24px;
  font-weight: 400;
}
.banner .txt-banner-5 {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translate(7px, -119px);
}
.banner .txt-banner-5 .txt-8 {
  font-family: "Fira Sans", sans-serif;
  color: #333333;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 12px;
}
.banner .txt-banner-5 .txt-9 {
  font-family: "Cormorant Garamond", serif;
  color: #d6ba8d;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 36px;
}
.banner .space {
  margin-bottom: 14px;
}
.banner .col-3 {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 0 25px;
}
.banner .col-6 {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 0 25px;
}
.banner .container {
  max-width: 1770px;
  width: 1770px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
.list .list-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
}
.list .list-top h3 {
  font-size: 56px;
  font-weight: bold;
}
.list .list-top .vm-btn {
  transform: translate(-1px, -55px);
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.15em;
  padding-top: 92px;
  padding-right: 35px;
  position: relative;
}
.list .list-top .vm-btn .i-vm {
  position: absolute;
  top: 95px;
  right: 8px;
}
.list .list-bot .space {
  margin-bottom: 4px;
}
.list .list-bot .col-3 {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
  margin-bottom: 0;
}
.list .list-bot .item {
  position: relative;
  text-align: center;
}
.list .list-bot .item .product-action-grid {
  display: flex;
  opacity: 0;
  top: 320px;
  z-index: 100;
  width: 270px;
  height: 40px;
  position: absolute;
}
.list .list-bot .item .product-action-grid .add-to-cart {
  width: 147px;
  background-color: #d5b98d;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 23.35px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.list .list-bot .item .product-action-grid .add-to-cart a {
  line-height: 41px;
  color: #fff !important;
}
.list .list-bot .item .product-action-grid .action-item-box {
  width: 123px;
  font-size: 14px;
  color: #ccc !important;
  display: flex;
}
.list .list-bot .item .product-action-grid .action-item-box .ac-btn {
  font-size: 18px;
  opacity: 0.8;
  line-height: 47px;
  border-left: 1px solid #fff;
  background-color: #585858;
  width: 33.3333%;
}
.list .list-bot .item:hover .product-action-grid {
  top: 279px;
  opacity: 1;
  transition: 1s;
}
.list .list-bot .item .txt-5 {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
  margin-top: 3px;
}
.list .list-bot .item .txt-6 {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #d6ba8d;
  transform: translate(0, -10px);
}
.blog {
  padding-bottom: 120px;
  margin-top: 105px;
  text-align: center;
  background-color: #faf9f9;
}
.blog .container {
  position: relative;
  padding-top: 108px;
}
.blog h3 {
  font-size: 56px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 600px;
  transform: translate(-50%, -60%);
}
.blog .gt-btn {
  width: 144px;
  height: 16px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  transform: translateY(150%);
}
.blog .gt-btn a {
  font-family: "Cormorant Garamond", serif;
  position: absolute;
  width: fit-content;
  transform: translate(-50%, -80%);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-top: 50px;
}
.blog a {
  justify-content: center;
}
.blog .col-4 {
  padding: 0 15px;
  margin: 0;
}
.blog .blg-hide {
  display: none;
}
.blog .blg {
  text-align: left;
}
.blog .blg .blg-bot {
  padding-left: 32px;
  padding-top: 20px;
}
.blog .blg .blg-bot span {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1em;
}
.blog .blg .blg-bot p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  margin-top: 19px;
}
.blog .blg .blg-bot .lv {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 50px;
  padding: 10px 0px;
  width: 300px;
  border-top: 1px #efefef solid;
}
.blog .blg .blg-bot .lv a .txt-7 {
  margin-left: 5px;
  margin-right: 10px;
}
.brand .col-2 {
  width: 16.66666667%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
.brand .brd {
  opacity: 0.3;
  padding-top: 51px;
  padding-bottom: 42px;
}
.brand .brd:hover {
  opacity: 1;
}
footer {
  background-color: #333;
}
footer .col-2 {
  width: 16.66666667%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
footer .col-8 {
  width: 66.66666667%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
footer a {
  color: #fff;
  text-transform: uppercase;
}
footer .inner-ft-top {
  padding-top: 63px;
  padding-left: 15px;
  padding-bottom: 40px;
  margin-bottom: 28px;
  border-bottom: 1px solid #2b2b2b;
}
footer .inner-ft-top .logo-ft {
  transform: translate(-14px, -15px);
}
footer ul {
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  display: flex;
  transform: translate(-5px, 72px);
}
footer ul li {
  padding: 0 17px;
}
footer .sb-btn {
  padding: 7px 18px;
  border: 2px solid #d6ba8d;
  transform: translate(10px, 62px);
  width: 158px;
}
footer .sb-btn a {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15em;
  display: flex;
}
footer .sb-btn a i {
  font-size: 15px;
  color: #d6ba8d;
  margin: auto 0;
}
footer .inner-ft-bot {
  justify-content: space-between;
}
footer .inner-ft-bot .ftb-left {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 80px;
}
footer .inner-ft-bot .ftb-left p {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
footer .ftb-right {
  transform: translate(-9px, -70px);
}
footer .ftb-right ul li {
  padding: 0 2px;
}
footer .ftb-right ul li a {
  border: 2px solid #4e4e4e;
  width: 48px;
  height: 48px;
  display: block;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  padding-top: 13px;
  margin: -2px 0 0 5px;
  color: #ababab;
}
footer .ftb-right ul li a:hover {
  background-color: #d5b98d;
  color: black;
}
@media all and (max-width: 1170px) {
  header {
    background-size: cover;
    height: 111vh;
  }
  header .header-banner .header-txt {
    transform: translate(13%, 68%);
  }
  header .header-banner .header-txt-1 {
    font-size: 16px;
    line-height: 15.23px;
    transform: translate(4px, -107%);
  }
  header .header-banner .header-txt-2 {
    font-size: 65px;
    line-height: 66px;
  }
  header .header-banner .social-link {
    transform: translate(28%, 105%);
    font-size: 24px;
    line-height: 40px;
  }
  header .header-banner .social-link a:hover::after {
    transform: translate(118px, -18px);
  }
  .banner .container {
    width: 1170px;
  }
  .banner .container .banner-ct img {
    width: 100%;
    height: 315.05px;
  }
  .banner .container .banner-ct .txt-banner-1 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-1 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-1 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .txt-banner-5 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-5 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-5 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .box-txt-3 {
    bottom: 85px;
    left: 46px;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-5 {
    font-size: 13px;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-6 {
    font-size: 35px;
    word-spacing: 0;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-6 {
    top: 100px;
    left: 63px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-8 {
    font-size: 38px;
    line-height: 34px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-9 {
    font-size: 12px;
    line-height: 14px;
  }
  .blog .col-4 {
    padding: 0px 10px;
  }
}
@media all and (max-width: 1024px) {
  header {
    background-size: cover;
    height: 98vh;
  }
  header .header-banner .header-txt {
    transform: translate(13%, 68%);
  }
  header .header-banner .header-txt-1 {
    font-size: 16px;
    line-height: 15.23px;
    transform: translate(4px, -107%);
  }
  header .header-banner .header-txt-2 {
    font-size: 65px;
    line-height: 66px;
  }
  header .header-banner .social-link {
    transform: translate(64%, 115%);
    font-size: 18px;
    line-height: 25px;
  }
  header .header-banner .social-link a:hover::after {
    transform: translate(90px, -10px);
  }
  .banner .container {
    width: 1024px;
  }
  .banner .container .banner-ct img {
    width: 100%;
    height: 266.63px;
  }
  .banner .container .banner-ct .txt-banner-1 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-1 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-1 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .txt-banner-5 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-5 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-5 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .box-txt-3 {
    bottom: 85px;
    left: 46px;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-5 {
    font-size: 13px;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-6 {
    font-size: 35px;
    word-spacing: 0;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-6 {
    top: 100px;
    left: 63px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-8 {
    font-size: 38px;
    line-height: 34px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-9 {
    font-size: 12px;
    line-height: 14px;
  }
  .blog .col-4 {
    padding: 0px 10px;
  }
  .list .list-bot .item:hover .product-action-grid {
    top: 230px;
  }
  .list .list-bot .item .product-action-grid {
    width: 100%;
    top: 265px;
  }
  .list .list-bot .item .list-img .s-img img {
    width: 100%;
  }
  .brand .brd img {
    width: 100%;
  }
  footer .sb-btn {
    transform: translate(-25px, 62px);
  }
}
@media all and (max-width: 768px) {
  header {
    background-size: cover;
    height: 72vh;
  }
  header .header-banner .header-txt {
    transform: translate(13%, 43%);
  }
  header .header-banner .header-txt-1 {
    font-size: 10px;
    line-height: 6.23px;
    transform: translate(4px, -107%);
  }
  header .header-banner .header-txt-2 {
    font-size: 40px;
    line-height: 37px;
  }
  header .header-banner .header-txt .disc-btn {
    font-size: 12px;
    line-height: 9px;
  }
  header .header-banner .header-txt .disc-btn a {
    padding: 10px 26px;
  }
  header .header-banner .social-link {
    transform: translate(38%, 115%);
    font-size: 15px;
    line-height: 24px;
  }
  header .header-banner .social-link a:hover::after {
    transform: translate(75px, -10px);
  }
  .slogan {
    font-size: 30px;
  }
  .banner .col-3 {
    padding: 0 15px;
  }
  .banner .col-6 {
    padding: 0 15px;
  }
  .banner .container {
    width: 768px;
  }
  .banner .container .banner-ct img {
    width: 100%;
    height: 208.25px;
  }
  .banner .container .banner-ct .txt-banner-1 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-1 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-1 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .txt-banner-5 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-5 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-5 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .box-txt-3 {
    bottom: 85px;
    left: 46px;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-5 {
    font-size: 13px;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-6 {
    font-size: 35px;
    word-spacing: 0;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-6 {
    top: 100px;
    left: 63px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-8 {
    font-size: 38px;
    line-height: 34px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-9 {
    font-size: 12px;
    line-height: 14px;
  }
  .blog h3 {
    transform: translate(-180%, -60%);
  }
  .blog .col-4 {
    padding: 0px 10px;
  }
  .list .list-bot .item:hover .product-action-grid {
    top: 230px;
  }
  .list .list-bot .item .product-action-grid {
    width: 100%;
    top: 265px;
  }
  .list .list-bot .item .list-img .s-img img {
    width: 100%;
  }
  .brand .brd img {
    width: 100%;
  }
  footer .inner-ft-top .col-2 {
    width: 100%;
  }
  footer .inner-ft-top .col-8 {
    width: 100%;
  }
  footer .inner-ft-top .col-8 ul {
    transform: translate(0, 0);
  }
  footer .inner-ft-top .logo-ft {
    transform: translate(0, 0);
  }
  footer .inner-ft-top .logo-ft img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer .inner-ft-top .sb-btn {
    transform: translate(0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 576px) {
  header {
    background-size: cover;
    height: 52vh;
  }
  header .header-nav .logo {
    padding-left: 15px;
    padding-top: 15px;
  }
  header .header-nav nav {
    transform: translate(0px, 17px);
  }
  header .header-nav nav ul {
    display: flex;
  }
  header .header-nav nav ul .iconify {
    color: white;
    width: 30px;
    height: 30px;
  }
  header .header-nav nav ul li {
    padding: 21px;
  }
  header .header-banner .header-txt {
    transform: translate(13%, 43%);
  }
  header .header-banner .header-txt-1 {
    font-size: 10px;
    line-height: 6.23px;
    transform: translate(4px, -107%);
  }
  header .header-banner .header-txt-2 {
    font-size: 28px;
    line-height: 25px;
  }
  header .header-banner .social-link {
    transform: translate(5%, 45%);
    font-size: 15px;
    line-height: 24px;
  }
  header .header-banner .social-link a:hover::after {
    transform: translate(75px, -10px);
    width: 51%;
  }
  header .header-banner .disc-btn {
    font-size: 10px;
    line-height: 9px;
  }
  header .header-banner .disc-btn a {
    padding: 5px 7px;
  }
  .header-bottom .col-4 .ct .txt-3 {
    font-size: 13px;
    line-height: 19px;
  }
  .slogan {
    font-size: 25px;
    padding: 40px 0;
  }
  .banner .hide-banner {
    display: none;
  }
  .banner .hidden-banner {
    display: block;
  }
  .banner .col-3 {
    width: 33.3333%;
    padding: 0 15px;
  }
  .banner .col-6 {
    width: 66.6667%;
    padding: 0 15px;
  }
  .banner .container {
    width: 576px;
  }
  .banner .container .banner-ct img {
    width: 100%;
    height: 208.25px;
  }
  .banner .container .banner-ct .txt-banner-1 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-1 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-1 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .txt-banner-5 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-5 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-5 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .box-txt-3 {
    bottom: 85px;
    left: 46px;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-5 {
    font-size: 13px;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-6 {
    font-size: 35px;
    word-spacing: 0;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-6 {
    top: 100px;
    left: 63px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-8 {
    font-size: 38px;
    line-height: 34px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-9 {
    font-size: 12px;
    line-height: 14px;
  }
  .blog h3 {
    transform: translate(-180%, -60%);
  }
  .blog .col-4 {
    padding: 0px 10px;
  }
  .list .list-bot .col-3 {
    width: 50%;
  }
  .list .list-bot .item:hover .product-action-grid {
    top: 230px;
  }
  .list .list-bot .item .product-action-grid {
    width: 100%;
    top: 265px;
  }
  .list .list-bot .item .list-img .s-img img {
    width: 100%;
  }
  .brand .col-2 {
    width: 33.3333%;
  }
  .brand .brd img {
    width: 100%;
  }
  footer .inner-ft-top .col-2 {
    width: 100%;
  }
  footer .inner-ft-top .col-8 {
    width: 100%;
  }
  footer .inner-ft-top .col-8 ul {
    transform: translate(0, 0);
  }
  footer .inner-ft-top .col-8 ul li {
    padding: 0 15px;
  }
  footer .inner-ft-top .logo-ft {
    transform: translate(0, 0);
  }
  footer .inner-ft-top .logo-ft img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer .inner-ft-top .sb-btn {
    transform: translate(0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer .inner-ft-bot .ftb-left p {
    font-size: 13px;
  }
}
@media all and (max-width: 375px) {
  header {
    background-size: cover;
    height: 35vh;
  }
  header .header-nav .logo {
    padding-left: 15px;
    padding-top: 15px;
  }
  header .header-nav nav {
    transform: translate(0px, 17px);
  }
  header .header-nav nav ul {
    display: flex;
  }
  header .header-nav nav ul .iconify {
    color: white;
    width: 30px;
    height: 30px;
  }
  header .header-nav nav ul li {
    padding: 5px;
  }
  header .header-banner .social-link {
    display: none;
  }
  header .header-banner .header-txt {
    transform: translate(13%, 43%);
  }
  header .header-banner .header-txt-1 {
    font-size: 8px;
    line-height: 6.23px;
    transform: translate(4px, -107%);
  }
  header .header-banner .header-txt-2 {
    font-size: 20px;
    line-height: 17px;
  }
  header .header-banner .disc-btn {
    font-size: 8px;
    line-height: 4px;
  }
  header .header-banner .disc-btn a {
    padding: 3px 9px;
  }
  .header-bottom .col-4 .ct .txt-3 {
    font-size: 13px;
    line-height: 19px;
  }
  .header-bottom .t3 {
    height: 45px;
  }
  .header-bottom .col-4 {
    height: 45px;
  }
  .header-bottom .col-4 .t1 {
    height: 45px;
  }
  .header-bottom .col-4 .t1 .txt-3 {
    font-size: 7px;
    line-height: 0px;
  }
  .header-bottom .col-4 .t1 .txt-4 {
    font-size: 10px;
  }
  .header-bottom .col-4 .t2 {
    height: 45px;
  }
  .header-bottom .col-4 .t2 .txt-3 {
    font-size: 7px;
    line-height: 0px;
  }
  .header-bottom .col-4 .t2 .txt-4 {
    font-size: 10px;
  }
  .header-bottom .col-4 .t3 {
    height: 45px;
  }
  .header-bottom .col-4 .t3 .txt-3 {
    font-size: 7px;
    line-height: 0px;
  }
  .header-bottom .col-4 .t3 .txt-4 {
    font-size: 10px;
  }
  .slogan {
    font-size: 15px;
    padding: 25px 0;
    line-height: 20px;
  }
  .banner .banner-1-hide {
    display: none;
  }
  .banner .hide-banner {
    display: none;
  }
  .banner .hidden-banner-2 {
    display: block;
  }
  .banner .hidden-banner {
    display: block;
  }
  .banner .col-3 {
    width: 50%;
    padding: 0 15px;
  }
  .banner .col-6 {
    width: 100%;
    padding: 0 15px;
  }
  .banner .container {
    width: 375px;
  }
  .banner .container .banner-ct img {
    width: 100%;
    height: 208.25px;
  }
  .banner .container .banner-ct .txt-banner-1 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-1 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-1 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .txt-banner-5 {
    transform: translate(3px, -100px);
  }
  .banner .container .banner-ct .txt-banner-5 .txt-8 {
    font-size: 18px;
  }
  .banner .container .banner-ct .txt-banner-5 .txt-9 {
    line-height: 0px;
  }
  .banner .container .banner-ct .box-txt-3 {
    bottom: 85px;
    left: 46px;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-5 {
    font-size: 13px;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-3 .btxt-6 {
    font-size: 35px;
    word-spacing: 0;
    line-height: 0;
  }
  .banner .container .banner-ct .box-txt-6 {
    top: 100px;
    left: 63px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-8 {
    font-size: 38px;
    line-height: 34px;
  }
  .banner .container .banner-ct .box-txt-6 .btxt-9 {
    font-size: 12px;
    line-height: 14px;
  }
  .blog h3 {
    transform: translate(-180%, -60%);
  }
  .blog .col-4 {
    padding: 0px 10px;
  }
  .list .list-bot .col-3 {
    width: 50%;
  }
  .list .list-bot .item:hover .product-action-grid {
    top: 230px;
  }
  .list .list-bot .item .product-action-grid {
    width: 100%;
    top: 265px;
  }
  .list .list-bot .item .list-img .s-img img {
    width: 100%;
  }
  .brand .col-2 {
    width: 33.3333%;
  }
  .brand .brd img {
    width: 100%;
  }
  footer .inner-ft-top .col-2 {
    width: 100%;
  }
  footer .inner-ft-top .col-8 {
    width: 100%;
  }
  footer .inner-ft-top .col-8 ul {
    transform: translate(0, 0);
  }
  footer .inner-ft-top .col-8 ul li {
    padding: 0 15px;
  }
  footer .inner-ft-top .logo-ft {
    transform: translate(0, 0);
  }
  footer .inner-ft-top .logo-ft img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer .inner-ft-top .sb-btn {
    transform: translate(0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer .inner-ft-bot .ftb-left p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */