header {
  background-repeat: no-repeat;
  background-image: url("../img/background.jpg") ;
  background-size: cover;
  background-position: 75% center;

height: 1000px;
  max-height: 1000px;
  .header-nav {
    .container {
      .row{
        margin: 0 0;
      }
      position: relative;

      padding: 30px 15px;
      max-width: 1750px;
      .row {
        display: flex;
        justify-content: space-between;
      }
    }

    .logo {
    }
    nav {
      position: absolute;
      top: 32%;
      right: 3px;
      // transform: translate(-83px, 17px);
      ul {
        display: flex;
        .iconify {
          color: white;
          width: 30px;
          height: 30px;
        }
        li {
          padding: 0 19px;

          .i-cart {
            position: relative;
          }
          .badge {
            position: absolute;
            top: -17px;
            left: 15px;
            z-index: 2;
            font-size: 12px;
            border-radius: 50%;
            background: white;
            width: 19px;
            height: 19px;
            line-height: 19px;
            display: block;
            text-align: center;
            color: black;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }
  .header-banner {
    .header-txt {
      padding-left: 15px;
      width: 100%;
      transform: translateY(62%);
      position: relative;
      &-1 {
        padding-left: 4px;
        font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        letter-spacing: 0.5em;
        font-size: 24px;
        line-height: 32.23px;
        color: #696969;
        position: relative;
        margin-bottom: 31px;
      }
      &-2 {
        font-family: "Cormorant Garamond", serif;
        font-weight: 500;
        font-style: italic;
        font-size: 100px;
        line-height: 100px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        margin-bottom: 69px;
      }
      .disc-btn {
        &:hover{
          a{
            background-color: #333;
          }
        }
        a {
         
          color: #fff;
          padding: 14px 29px;
          background-color: black;
        }
        font-family: "Fira Sans", sans-serif;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 24px;
      }
    }
    .social-link {
      transform: translateY(-34%);
      a {color: #ede8e1 ;
        opacity: 0.8;
        &:hover {
          color: #eae6d3 ;
          opacity: 1;
          &::after {
            background-color: #333;
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            vertical-align: middle;
            width: 4%;
            top: 14%;
            right: 0;
          }
        }
      
      }
      .container {
        max-width: 1750px;
       
        
      }
      text-align: right;
      font-family: "Cormorant Garamond", serif;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.1em;
      line-height: 40px;
    }
  }
}
