.header-bottom {
 border-bottom: 1px solid red;
  .col-4 {height: 80px;
   
      &:last-child{
          border-right: none
      }
    .cols(33.3333%);   margin: 0;
      border-right: 1px solid red;
    .ct {
        text-align: center;
      .txt-3 {
        font-family: "Cormorant Garamond", serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.1em;
        line-height: 28px;
        text-transform: uppercase;
      }
      .txt-4 {
        font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #ababab;
      }
    }
    .t1{
        padding-top: 18px;
    padding-left: 1px;
    .txt-4{
        padding-top: 4px; 
    }
        height: 80px;
        border-left: 1px solid red;
    }
    .t2{
        padding-top: 19px;
        padding-left: 5px;
        .txt-4{
            padding-top: 3px; 
        }
    }
    .t3{        height: 80px;

        border-right: 1px solid red;
        .txt-3{
            transform: translate(-13px, 19px);
        }
        .txt-4{
            transform: translate(-13px, 22px);
        }
    }

   
  }
}
.slogan{
    text-align:center;
  
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 48px;
    padding: 114px 0;
    margin-bottom: -8px

}